<%= stylesheet_link_tag "navbar" %>

<nav class="navbar navbar-default" style="background-color: #fff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to '<img src="/images/glow.png" width="70px">'.html_safe, root_path, class: "navbar-brand icon" %>
    </div>
    <% if session[:current_user_id] != nil %>
      <div class="col-lg-offset-11 text">
        <%= link_to 'Log out', logout_path, class: 'log-out' %>
      </div>
    <% end %>
  </div>
</nav>